<div{{*
  id: this.props.element_id
  className:
    "something": true
    "hello": true
  onClick: this._onClick
*}}>
  {{#this.props.arr}}
    <p{{*
      onClick: this._onClick
      key: name
    *}}>Hi</p>
  {{/this.props.arr}}
</div>
