<div >
{{> partials/hello}}{{#people}}    <div >
      <p id="{{element_id}}" class=" something{{#b_show_class}} something-else{{/b_show_class}}">{{name}}</p>
    </div>
{{/people}}{{^people}}    <span >No People</span>
{{/people}}  <span >{{testing}}</span>
</div>
